@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Open+Sans&display=swap');

* {
  font-family: 'Marck Script', cursive;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  padding: 10px;
  background-color: indigo;
  color: lavender;
  font-size: 16px;
}

h1 {
  font-family: 'Marck Script', cursive;
  font-size: 50px;
}

input,
textarea {
  margin: 3px;
  border: 2px solid black;
}

button {
  background-color: inherit;
  box-shadow: 0px 0px 3px 3px lavender;
  color: white;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}

.issue {
  margin: 20px;
  padding: 10px;
  width: 60%;
  border: 2px solid black;
}

.closed {
  background-color: lightgrey;
}

.id {
  font-size: 12px;
}
